<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>My Portfolio</title>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <div id="navbarLocation"></div>
        <!-- <div>SECONDARY NAVBAR HERE THAT POPULATES BASED ON weatherData[0].data.length MIN REQ 5 Weathers</div> -->
        <div class="demo-wrap">
            <center>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <% for(var x=0; searchTerms.length > x; x++) { %>
                        <button type="button" 
                                class="btn btn-secondary changeIndexButton"
                                data-index="<%= x %>"
                                <% if(x == dataIndex){ %> disabled <% } %>>
                            <%= searchTerms[x] %>
                        </button>
                    <% } %>
                </div>
            </center>
            <table class="table table-hover">
                <thead>
                    <th>Location</th>
                    <th>Temperature</th>
                    <th>Weather</th>
                    <th>Day</th>
                    <th>Low</th>
                    <th>High</th>
                    <th>Precip</th>
                    <th>Humidity</th>
                    <th>Forecast</th>
                </thead>
                <tbody>
                    <% console.log(weatherData) %>
                    <% weatherData.forEach(entry => { %>
                      <tr>
                        <td><%= entry.location.name %></td>
                        <td><%= entry.current.temperature %>°C</td>
                        <td>
                            <%= entry.current.skytext %><br>
                            <img src="<%= entry.current.imageUrl %>" alt="Weather GIF">
                        </td>
                        <td><%= entry.current.day %></td>
                        <td><%= entry.forecast[0].low %></td>
                        <td><%= entry.forecast[0].high %></td>
                        <td><%= entry.forecast[0].precip %></td>
                        <td><%= entry.current.humidity %></td>
                        <td><%= entry.forecast[1].date %><br><%= entry.forecast[1].skytextday %></td>
                      </tr>
                    <% }); %>
                </tbody>
            </div>
        </div>
        <footer><center>Created By Amogus</center></footer>
    </body>
</html>
<script>
    function handleButtonClick(event) {
        var index = event.target.getAttribute('data-index');
        var searchTerm = event.target.innerText
        // Reload the page with the new index as a query parameter
        window.location.href = `/weather?dataIndex=${index}&searchTerm=${searchTerm}`;
    }
    var buttons = document.querySelectorAll('.changeIndexButton');
    buttons.forEach(function(button) {
        button.addEventListener('click', handleButtonClick);
    });
</script>