<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>My Portfolio</title>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <div id="navbarLocation"></div>
        <div class="demo-wrap">
            <center>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <% for(var x=0; searchTerms.length > x; x++) { %>
                        <button type="button" 
                                class="btn btn-secondary changeIndexButton"
                                data-index="<%= x %>"
                                <% if(x == dataIndex){ %> disabled <% } %>>
                            <%= searchTerms[x] %>
                        </button>
                    <% } %>
                </div>
            </center>
            <table class="table table-hover">
                <thead>
                    <th>Location</th>
                    <th>Temperature</th>
                    <th>Weather</th>
                    <th>Day</th>
                    <th>Low</th>
                    <th>High</th>
                    <th>Forecast 1</th>
                    <th>Forecast 2</th>
                    <th>Forecast 3</th>
                </thead>
                <tbody>
                    <% weatherData.forEach(entry => { %>
                      <tr>
                        <td><%= entry.location.name %></td>
                        <td><%= entry.current.temperature %>°C</td>
                        <td>
                            <%= entry.current.skytext %><br>
                            <img src="<%= entry.current.imageUrl %>" alt="Weather GIF">
                        </td>
                        <td><%= entry.current.day %></td>
                        <td><%= entry.forecast[0].low %>°C</td>
                        <td><%= entry.forecast[0].high %>°C</td>
                        <td><%= entry.forecast[1].date %><br><%= entry.forecast[1].skytextday %></td>
                        <td><%= entry.forecast[2].date %><br><%= entry.forecast[2].skytextday %></td>
                        <td><%= entry.forecast[3].date %><br><%= entry.forecast[3].skytextday %></td>
                      </tr>
                    <% }); %>
                </tbody>
            </div>
        </div>
        <footer><center>Created By Amogus</center></footer>
    </body>
</html>
<script>
    function handleButtonClick(event) { window.location.href = `/weather?dataIndex=${event.target.getAttribute('data-index')}&searchTerm=${event.target.innerText}`; }
    var buttons = document.querySelectorAll('.changeIndexButton');
    buttons.forEach(function(button) { button.addEventListener('click', handleButtonClick); });
</script>